<div class="flex flex-col h-full w-full gap-y-2">
    <div class="flex flex-col gap-x-2.5 rounded-md bg-white p-4">
        <h6 class="text-primary-dc text-xs font-semibold">
            Basic Details
        </h6>
        <div class="grid grid-cols-5 gap-x-3">
            <div class="form-group">
                <label class="text-label text-xs font-semibold">
                    Order No
                </label>
                <div class="text-value text-sm font-semibold">
                    89867636
                </div>
            </div>
            <div class="form-group">
                <label class="text-label text-xs font-semibold">
                    Order Date
                </label>
                <div class="text-value text-sm font-semibold">
                    21-09-2024
                </div>
            </div>
            <div class="form-group">
                <label class="text-label text-xs font-semibold">
                    Customer Name
                </label>
                <div class="text-value text-sm font-semibold">
                    AGX Textile, Columbo
                </div>
            </div>
            <div class="form-group">
                <label class="text-label text-xs font-semibold">
                    Freight Unloaded Godown Name
                </label>
                <div class="text-value text-sm font-semibold">
                    ABC Load
                </div>
            </div>
            <div class="form-group">
                <label class="text-label text-xs font-semibold">
                    Vendor / Consignor Type
                </label>
                <div class="text-value text-sm font-semibold">
                    Chennai
                </div>
            </div>
        </div>
    </div>
    <div class="flex-1 relative">
        <div class="absolute top-0 left-0 right-0 bottom-0 z-0 overflow-hidden">
            <div class="relative w-full h-full z-10 overflow-auto">
                <div class="flex flex-col h-full">
                    <div class="flex-1 relative">
                        <div class="absolute top-0 left-0 right-0 bottom-0 z-0 overflow-hidden">
                            <div class="relative w-full h-full z-10 overflow-auto">
                                <div class="flex flex-col gap-x-2.5 rounded-md bg-white p-4">
                                    <h6 class="text-primary-dc text-xs font-semibold">
                                        L.R Details
                                    </h6>
                                    <div class="grid grid-cols-5 gap-x-3">
                                        <div class="form-group">
                                            <label class="text-label text-xs font-semibold">
                                                L.R No
                                            </label>
                                            <div class="text-value text-sm font-semibold">
                                                89867636
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="text-label text-xs font-semibold">
                                                Received Date
                                            </label>
                                            <div class="text-value text-sm font-semibold">
                                                21-09-2024
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="text-label text-xs font-semibold">
                                                Vendor / Consignor Name
                                            </label>
                                            <div class="text-value text-sm font-semibold">
                                                AGX Textile, Columbo
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="text-label text-xs font-semibold">
                                                To Pay (Freight Charges)
                                            </label>
                                            <div class="text-value text-sm font-semibold">
                                                27,908.00
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="text-label text-xs font-semibold">
                                                Vendor / Consignor Type
                                            </label>
                                            <div class="text-value text-sm font-semibold">
                                                Chennai
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-x-2.5 mt-2 rounded-md bg-white p-4">
                                    <h6 class="text-primary-dc text-xs font-semibold">
                                        Deliver Slip / Invoice Details
                                    </h6>
                                    <div class="grid grid-cols-5 gap-x-3">
                                        <div class="form-group">
                                            <label class="text-label text-xs font-semibold">
                                                Invoice No
                                            </label>
                                            <div class="text-value text-sm font-semibold">
                                                89867636
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="text-label text-xs font-semibold">
                                                Invoice Value
                                            </label>
                                            <div class="text-value text-sm font-semibold">
                                                4,78,400.00
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="grid grid-cols-5 pt-2 gap-x-3">
                                        <div class="border border-grey-dc p-3 rounded-md">
                                            <h6 class="text-[#323232]">
                                                Product Name 1
                                            </h6>
                                            <p class="text-xxs text-[#323232]">
                                                HSN: 2165
                                            </p>
                                            <p class="text-xs text-[#323232]">
                                               185.00 | 150 PCS
                                            </p>
                                            <p class="text-sm text-[#323232] font-semibold">
                                                27,750.00
                                            </p>
                                        </div>
                                        <div class="border border-grey-dc p-3 rounded-md">
                                            <h6 class="text-[#323232]">
                                                Product Name 1
                                            </h6>
                                            <p class="text-xxs text-[#323232]">
                                                HSN: 2165
                                            </p>
                                            <p class="text-xs text-[#323232]">
                                                185.00 | 150 PCS
                                            </p>
                                            <p class="text-sm text-[#323232] font-semibold">
                                                27,750.00
                                            </p>
                                        </div>
                                        <div class="border border-grey-dc p-3 rounded-md">
                                            <h6 class="text-[#323232]">
                                                Product Name 1
                                            </h6>
                                            <p class="text-xxs text-[#323232]">
                                                HSN: 2165
                                            </p>
                                            <p class="text-xs text-[#323232]">
                                                185.00 | 150 PCS
                                            </p>
                                            <p class="text-sm text-[#323232] font-semibold">
                                                27,750.00
                                            </p>
                                        </div>
                                        <div class="border border-grey-dc p-3 rounded-md">
                                            <h6 class="text-[#323232]">
                                                Product Name 1
                                            </h6>
                                            <p class="text-xxs text-[#323232]">
                                                HSN: 2165
                                            </p>
                                            <p class="text-xs text-[#323232]">
                                                185.00 | 150 PCS
                                            </p>
                                            <p class="text-sm text-[#323232] font-semibold">
                                                27,750.00
                                            </p>
                                        </div>
                                        <div class="border border-grey-dc p-3 rounded-md">
                                            <h6 class="text-[#323232]">
                                                Product Name 1
                                            </h6>
                                            <p class="text-xxs text-[#323232]">
                                                HSN: 2165
                                            </p>
                                            <p class="text-xs text-[#323232]">
                                                185.00 | 150 PCS
                                            </p>
                                            <p class="text-sm text-[#323232] font-semibold">
                                                27,750.00
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center py-3 px-4 border-t border-t-grey-dc">
                        <div class="ml-auto flex items-center  gap-x-4">
                            <button
                                class="dc-button text-[#323232] border border-grey-dc max-w-max rounded-md hover:bg-[#747474] hover:text-white">
                                Cancel
                            </button>
                            <button
                                class="dc-button max-w-max text-white bg-[#B188FF] border border-[#722BE2] rounded-md hover:bg-[#722BE2]">
                                Save & Continue
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>