<div class="form-group relative w-full mb-3">
    @if (label !== '') {
    <label class="text-xs mb-2 font-semibold text-[#2B2B2B]">
        {{label}} @if (_required) {
        <span class="text-red-500">*</span>
        }
    </label>
    <div class="input-group w-full">
        <textarea class="border resize-none border-[#d1d1d1] inline-block rounded-md text-sm pl-2 py-2 pr-4 min-h-36 w-full focus:outline-none"
            [ngClass]="{'bg-[#f8f8f8] select-none pointer-events-none': _disabled, 'border-danger': control?.control?.invalid && _errorTrue}"
            [(ngModel)]="value" name="{{name}}" [id]="name" (blur)="doBlur()" (focus)="doFocus()"
            (keydown)="checkEnter($event)" #forminput [placeholder]="placeholder"></textarea>
    </div>
    }
</div>