@if (_labelAnimation) {
<div class="relative w-full {{className}}">
    @if (label) {
    <label class="text-ssm font-normal text-[#999999] absolute top-[-6px] left-3 bg-white z-10  px-1">
        {{label}} @if (_required) {
        <span class="text-red-500">*</span>
        }
    </label>
    }
    <div class="flex items-center gap-x-3">
        <app-auto-complete [items]="items" keyname="description" (onInput)="autoSearch($event)"
            [displayText]="searchText" (onSelect)="doSelect($event)" [btnClicked]="_disabled" (onBlur)="doBlur()"
            (onClear)="autoClear()" name="{{name}}" [errorTrue]="(control?.control?.invalid || false) && _errorTrue"
            [isLoading]="loadingTrue" (focus)="autoSearch($event)" (onSlide)="slideOpen($event)">
        </app-auto-complete>
    </div>

</div>
}
@else {
<div class="relative w-full {{className}}">
    @if (label) {
    <label class="text-xs mb-2 font-semibold text-[#2B2B2B]">
        {{label}}
    </label>
    }
    <div class="flex items-center gap-x-3">
        <app-auto-complete [items]="items" keyname="description" (onInput)="autoSearch($event)"
            [displayText]="searchText" (onSelect)="doSelect($event)" [btnClicked]="_disabled" (onBlur)="doBlur()"
            (onClear)="autoClear()" name="{{name}}" [errorTrue]="(control?.control?.invalid || false) && _errorTrue"
            [isLoading]="loadingTrue" (focus)="autoSearch($event)" (onSlide)="slideOpen($event)">
        </app-auto-complete>
    </div>

</div>
}

<input type="hidden" [(ngModel)]="value" [disabled]="_disabled" name="{{name}}" placeholder="{{placeholder}}"
    (blur)="doBlur()" (focus)="doFocus()" (keydown)="checkEnter($event)" #forminput [id]="name" autocomplete="off" />

<ng-template #customerTemplate>
    <form class="flex flex-col h-full" #l="ngForm" (ngSubmit)="save(l)">
        <div class="flex items-center py-4 px-4">
            <h5 class="text-primary-dc font-semibold">
                Add New Package Type
            </h5>
            <button type="button"
                class="ml-auto outline-none border rounded-md border-grey-dc w-[34px] h-[34px] flex items-center justify-center"
                matRipple (click)="slideClose()">
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 23L14 14M14 14L23 5M14 14L5 5M14 14L23 23" stroke="#2B2B2B" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <div class="flex-1 relative">
            <div class="absolute top-0 left-0 right-0 bottom-0 overflow-hidden z-0">
                <div class="relative w-full h-full overflow-auto z-10 px-4">
                    <div class="flex flex-col gap-y-2">
                        <div class="block">
                            <app-input-control label="Package Type Value" [(ngModel)]="subConfig.mConfigValue"
                                name="mConfigValue" [maxlength]="5" [required]="true" [errorTrue]="fieldTrue" />
                        </div>
                        <div class="block">
                            <app-input-control label="Package Type Description"
                                [(ngModel)]="subConfig.mConfigDescription" name="mConfigDescription" [required]="true"
                                [errorTrue]="fieldTrue" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-2 border-t border-t-grey-dc">
            <div class="flex items-center justify-center gap-x-4">
                <button (click)="slideClose()" type="button"
                    class="dc-button text-[#323232] border border-grey-dc max-w-max rounded-md hover:bg-[#747474] hover:text-white">
                    Cancel
                </button>
                <button type="submit"
                    class="dc-button max-w-max text-white bg-[#B188FF] border border-[#722BE2] rounded-md hover:bg-[#722BE2]">
                    Save
                </button>
            </div>
        </div>
    </form>
</ng-template>