<div class="flex-1 flex flex-col h-full w-full gap-x-2 gap-y-2">
    <div class="flex items-center gap-x-2.5">
        <button class="button-add" matRipple (click)="createOrder()">
            <span class="text-xs font-bold flex items-center justify-center gap-x-1">
                <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 0.5V14.5" stroke="#2B2B2B" stroke-miterlimit="10" />
                    <path d="M0 7.5H14" stroke="#2B2B2B" stroke-miterlimit="10" />
                </svg>
                Add
            </span>
        </button>
        <div class="inline-block min-w-72">
            <app-input-control [noMargin]="true" placeholder="Search any keyword" [(ngModel)]="searchParams.keyword"
                name="keyword" (ngModelChange)="searchInput()" />
        </div>
    </div>
    <div class="flex-1 relative">
        <div class="absolute top-0 left-0 right-0 bottom-0 z-0 overflow-hidden">
            <div class="relative w-full h-full z-10 overflow-auto">
                <div class="grid grid-cols-3 gap-x-2 gap-y-2">
                    @for (item of searchResult.plstprotoPreorderSearchResultSet; track $index) {
                    <div class="bg-white border cursor-pointer border-grey-dc rounded-md p-4 hover:border-primary-dc hover:bg-menu-hover transition-all duration-500 ease-in-out flex flex-col gap-y-1"
                        (click)="openOrder(item.preorderId)">
                        <div class="flex items-center gap-x-4">
                            <span class="text-label text-ssm">
                                Order Expected Date
                                <strong class="text-menu-outline">
                                    {{item.orderExpectedDate}}
                                </strong>
                            </span>
                            <span class="text-label text-ssm">
                                Order Status
                                <strong class="text-green-500">
                                    {{item.statusDescription}}
                                </strong>
                            </span>
                        </div>
                        <div class="text-value text-sm font-extrabold">
                            {{item.customerDetails}}
                        </div>
                        <span class="text-label text-ssm">
                            Order Entered Date
                            <strong class="text-menu-outline font-extrabold text-ssm">
                                {{item.enteredDate}}
                            </strong>
                        </span>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>