<div class="flex flex-row h-full w-full gap-x-4">
    <ol class="flex flex-col h-full gap-y-2">
        <li class="flex items-center gap-x-2.5">
            <a class="w-8.5 h-8.5 rounded-lg flex items-center justify-center cursor-pointer bg-white border border-grey-dc"
                matRipple [routerLink]="['/home']">
                <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.21101 19V8.76471H2L11.3578 1L20 8.61345H19.0642V18.9496H14.2752V12.1429H8.15596V19" stroke="#333333"
                        stroke-miterlimit="10" />
                </svg>

            </a>
            <a class="w-8.5 h-8.5 rounded-lg flex items-center justify-center cursor-pointer bg-white border border-grey-dc"
                matRipple [routerLink]="['/home/export_invoice']">
                <svg width="18" height="18" viewBox="0 0 18 18" class="stroke-menu-outline" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_118_782)">
                        <path
                            d="M1.32642 5.21053H10.6106C13.9264 5.21053 16.6738 7.95789 16.6738 11.2737C16.6738 14.5895 13.9264 17.3368 10.6106 17.3368H1.32642"
                            stroke="#333333" stroke-miterlimit="10" />
                        <path d="M5.4001 9.37895L1.32642 5.21053L5.4001 1.13684" stroke-miterlimit="10" />
                    </g>
                    <defs>
                        <clipPath id="clip0_118_782">
                            <rect width="18" height="18" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </a>
        </li>
    </ol>
    <div class="flex-1 flex flex-col h-full w-full gap-y-2">
        <div class="flex-1 relative">
            <div class="absolute top-0 left-0 right-0 bottom-0 z-0 overflow-hidden">
                <div class="relative w-full h-full z-10 overflow-auto">
                    <div class="flex flex-col h-full bg-white rounded">
                        <div class="flex-1 relative">
                            <div class="absolute top-0 left-0 right-0 bottom-0 z-0 overflow-hidden">
                                <div class="relative w-full h-full z-10 overflow-auto">
                                    <div class="flex flex-col gap-y-2 h-full max-w-4xl mx-auto p-4">
                                        <h4 class="text-[#323232] font-bold text-center pb-4">
                                            INVOICE
                                        </h4>
                                        <div class="grid grid-cols-2 gap-x-4 pb-4 border-b border-b-grey-dc">
                                            <div class="flex flex-col gap-y-1">
                                                <span class="text-sm text-[#323232] pb-1">
                                                    Exporter
                                                </span>
                                                <span class="text-sm text-[#323232] font-semibold">
                                                    {{exportInvoice.iprotoExporter.exporterName}}
                                                </span>
                                                <span class="text-xs text-[#323232]">
                                                    <strong>
                                                        Email :
                                                    </strong>
                                                    {{exportInvoice.iprotoExporter.emailId}}
                                                </span>
                                                <span class="text-xs text-[#323232]">
                                                    <strong>
                                                        Phone :
                                                    </strong>
                                                    {{exportInvoice.iprotoExporter.contactNo}}
                                                </span>
                                                <span class="text-xs text-[#323232]">
                                                    <strong>
                                                        Website :
                                                    </strong>
                                                    www.company.com
                                                </span>
                                                <span class="text-xs text-[#323232]">
                                                    <strong>
                                                        GST No :
                                                    </strong>
                                                    {{exportInvoice.iprotoExporter.gstnUinNumber}}
                                                </span>
                                            </div>
                                            <div class="flex flex-col text-right gap-y-6">
                                                <h1 class="text-primary-dc font-bold leading-6 text-2xl">
                                                    Chennai <br /> Exports
                                                </h1>

                                                <div class="flex flex-col text-right gap-y-1 mt-auto">
                                                    <span class="text-xs text-[#323232]">
                                                        Invoice No : 
                                                        <strong>
                                                            {{exportInvoice.invoiceNo}}
                                                        </strong>
                                                    </span>
                                                    <span class="text-xs text-[#323232]">
                                                        Invoice Date :
                                                        <strong>
                                                            {{exportInvoice.invoiceDate}}
                                                        </strong>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid grid-cols-2 gap-x-4 pb-4 pt-2 border-b border-b-grey-dc">
                                            <div class="flex flex-col gap-y-1">
                                                <h6 class="text-[#323232] text-sm">
                                                    Consignee
                                                </h6>
                                                <h3 class="text-[#323232] font-bold">
                                                    {{exportInvoice.iprotoExportConsignee.exportConsigneeName}}
                                                </h3>
                                                <span class="text-xs text-[#323232]">
                                                    {{exportInvoice.iprotoExportConsignee.addressLine1}} {{exportInvoice.iprotoExportConsignee.addressLine2}} {{exportInvoice.iprotoExportConsignee.addressLine3}},
                                                    {{exportInvoice.iprotoExportConsignee.city}}, {{exportInvoice.iprotoExportConsignee.state}}, {{exportInvoice.iprotoExportConsignee.country}}, {{exportInvoice.iprotoExportConsignee.pincode}}
                                                </span>
                                                <span class="text-xs text-[#323232]">
                                                    <strong>
                                                        Email :
                                                    </strong>
                                                    {{exportInvoice.iprotoExportConsignee.emailId}}
                                                </span>
                                                <span class="text-xs text-[#323232]">
                                                    <strong>
                                                        Phone :
                                                    </strong>
                                                    {{exportInvoice.iprotoExportConsignee.contactNo}}
                                                </span>
                                            </div>
                                            <div class="flex flex-col gap-y-1">
                                                <h6 class="text-[#323232] text-sm">
                                                    Notify Party
                                                </h6>
                                                <h3 class="text-[#323232] font-bold">
                                                    {{exportInvoice.iprotoParty.partyName}}
                                                </h3>
                                                <span class="text-xs text-[#323232]">
                                                    {{exportInvoice.iprotoParty.addressLine1}} {{exportInvoice.iprotoParty.addressLine2}}
                                                    {{exportInvoice.iprotoParty.addressLine3}},
                                                    {{exportInvoice.iprotoParty.city}}, {{exportInvoice.iprotoParty.state}},
                                                    {{exportInvoice.iprotoParty.country}}, {{exportInvoice.iprotoParty.pincode}}
                                                </span>
                                                <span class="text-xs text-[#323232]">
                                                    <strong>
                                                        Email :
                                                    </strong>
                                                    {{exportInvoice.iprotoParty.emailId}}
                                                </span>
                                                <span class="text-xs text-[#323232]">
                                                    <strong>
                                                        Phone :
                                                    </strong>
                                                    {{exportInvoice.iprotoParty.contactNo}}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="grid grid-cols-2 gap-x-4 pb-4 pt-2">
                                            <div class="flex flex-col gap-y-2">
                                                <div class="form-group flex items-center gap-x-3">
                                                    <label class="text-label text-xs">
                                                        Buyer’s Order No & Date
                                                    </label>
                                                    <strong class="text-sm text-value">
                                                        {{exportInvoice.buyersOrderNoDate}}
                                                    </strong>
                                                </div>
                                                <div class="form-group flex items-center gap-x-3">
                                                    <label class="text-label text-xs">
                                                        Country of Origin of Goods
                                                    </label>
                                                    <strong class="text-sm text-value">
                                                        {{exportInvoice.countryOfOriginOfGoods}}
                                                    </strong>
                                                </div>
                                                <div class="form-group flex items-center gap-x-3">
                                                    <label class="text-label text-xs">
                                                        Country of Final Destination
                                                    </label>
                                                    <strong class="text-sm text-value">
                                                        {{exportInvoice.countryOfFinalDestination}}
                                                    </strong>
                                                </div>
                                                <div class="form-group flex items-center gap-x-3">
                                                    <label class="text-label text-xs">
                                                        Terms of Delivery and Payment
                                                    </label>
                                                    <strong class="text-sm text-value">
                                                        {{exportInvoice.termsOfDeliveryPayment}}
                                                    </strong>
                                                </div>
                                            </div>
                                            <div class="flex flex-col gap-y-2">
                                                <div class="form-group flex items-center gap-x-3">
                                                    <label class="text-label text-xs">
                                                        Pre-Carriage by
                                                    </label>
                                                    <strong class="text-sm text-value">
                                                        {{exportInvoice.preCarriageBy}}
                                                    </strong>
                                                </div>
                                                <div class="form-group flex items-center gap-x-3">
                                                    <label class="text-label text-xs">
                                                        Place of Receipt of Pre carrier
                                                    </label>
                                                    <strong class="text-sm text-value">
                                                        {{exportInvoice.placeOfReceiptOfPreCarrier}}
                                                    </strong>
                                                </div>
                                                <div class="form-group flex items-center gap-x-3">
                                                    <label class="text-label text-xs">
                                                        Vessel / Flight No.
                                                    </label>
                                                    <strong class="text-sm text-value">
                                                        {{exportInvoice.vesselFlightNo}}
                                                    </strong>
                                                </div>
                                                <div class="form-group flex items-center gap-x-3">
                                                    <label class="text-label text-xs">
                                                        Port of Loading
                                                    </label>
                                                    <strong class="text-sm text-value">
                                                        {{exportInvoice.loadingPortDescription}}
                                                    </strong>
                                                </div>
                                                <div class="form-group flex items-center gap-x-3">
                                                    <label class="text-label text-xs">
                                                        Port of Discharge
                                                    </label>
                                                    <strong class="text-sm text-value">
                                                        {{exportInvoice.dischargePortDescription}}
                                                    </strong>
                                                </div>
                                                <div class="form-group flex items-center gap-x-3">
                                                    <label class="text-label text-xs">
                                                        Final Destination
                                                    </label>
                                                    <strong class="text-sm text-value">
                                                        {{exportInvoice.countryOfFinalDestination}}
                                                    </strong>
                                                </div>
                                               
                                            </div>
                                        </div>
                                        <div class="block pt-2 pb-2">
                                            <table class="w-full border-collapse">
                                                <thead>
                                                    <tr class="h-10">
                                                        <th class="bg-[#F0E7FF] px-2 flex flex-col text-sm font-semibold rounded-bl-md rounded-tl-md text-left h-10">
                                                            <span class="">
                                                                Item Details | Description
                                                            </span>
                                                            <span class="text-xs">
                                                                Package No
                                                            </span>
                                                        </th>
                                                        <th class="bg-[#F0E7FF] px-2 text-sm font-semibold text-left">
                                                            Qty
                                                        </th>
                                                        <th class="bg-[#F0E7FF] px-2 text-sm font-semibold text-left">
                                                            Unit
                                                        </th>
                                                        <th class="bg-[#F0E7FF] px-2 text-sm font-semibold text-left">
                                                            Price
                                                        </th>
                                                      
                                                        <th class="bg-[#F0E7FF] px-2 text-sm font-semibold rounded-br-md rounded-tr-md text-right">
                                                            Amount
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (item of exportInvoice.lstprotoExportInvoiceDetail; track $index) {
                                                        <tr class="h-10">
                                                            <td class="p-2 flex flex-col text-xs font-medium">
                                                                <span class="">
                                                                    {{item.packageNo}}
                                                                </span>
                                                                <!-- <span class="text-xs">
                                                                    {{item.packageNo}}
                                                                </span> -->
                                                            </td>
                                                            <td class="p-2 text-xs font-medium">
                                                                {{item.quantity}}
                                                            </td>
                                                            <td class="p-2 text-xs font-medium">
                                                                {{item.unitTypeDescription}}
                                                            </td>
                                                            <td class="p-2 text-xs font-medium">
                                                                {{item.rate}}
                                                            </td>
                                                            <td class="p-2 text-xs font-medium text-right">
                                                                {{item.amount}}
                                                            </td>
                                                        </tr>
                                                    }
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="flex flex-row py-3 border-t border-grey-dc">
                                            <div class="flex-1 flex gap-x-4">
                                                <div class="flex flex-col">
                                                    <label class="text-label text-xs text-left">
                                                        No of Packages
                                                    </label>
                                                    <strong class="text-[#323232] text-sm text-left">
                                                        {{exportInvoice.noAndKindOfPakage}}
                                                    </strong>
                                                </div>
                                                <div class="flex flex-col">
                                                    <label class="text-label text-xs text-left">
                                                       Net Weight
                                                    </label>
                                                    <strong class="text-[#323232] text-sm text-left">
                                                        {{exportInvoice.netWeight}}
                                                    </strong>
                                                </div>
                                                <div class="flex flex-col ">
                                                    <label class="text-label text-xs text-left">
                                                        Gross Weight
                                                    </label>
                                                    <strong class="text-[#323232] text-sm text-left">
                                                        {{exportInvoice.grossWeight}}
                                                    </strong>
                                                </div>
                                            </div>
                                            <div class="flex-1 flex flex-col gap-y-2">
                                                <div class="grid grid-cols-2 ml-auto items-center gap-x-3">
                                                    <div class="grid grid-cols-2 col-span-2 gap-x-3 px-2">
                                                        <div class="flex items-center gap-x-2">
                                                            <label class="text-label text-xs text-right">
                                                                Sub Total
                                                            </label>
                                                        </div>
                                                        <span class="text-[#323232] text-sm text-right">
                                                            {{exportInvoice.taxableValue}}
                                                        </span>
                                                    </div>
                                                    <div class="grid grid-cols-2 col-span-2 gap-x-3 px-2">
                                                        <div class="flex items-center gap-x-2">
                                                            <label class="text-label text-xs text-right">
                                                                Round Off
                                                            </label>
                                                        </div>
                                                        <span class="text-[#323232] text-sm text-right">
                                                            {{exportInvoice.roundOff}}
                                                        </span>
                                                    </div>
                                                    <div class="grid grid-cols-2 col-span-2 gap-x-3 px-2">
                                                        <div class="flex items-center gap-x-2">
                                                            <label class="text-label text-xs text-right">
                                                                SGST 0%
                                                            </label>
                                                        </div>
                                                        <span class="text-[#323232] text-sm text-right">
                                                            {{exportInvoice.sgstValue}}
                                                        </span>
                                                    </div>
                                                    <div class="grid grid-cols-2 col-span-2 gap-x-3 px-2">
                                                        <div class="flex items-center gap-x-2">
                                                            <label class="text-label text-xs text-right">
                                                                CGST 0%
                                                            </label>
                                                        </div>
                                                        <span class="text-[#323232] text-sm text-right">
                                                            {{exportInvoice.cgstValue}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex items-center gap-x-4">
                                            <div class="flex items-center gap-x-4">
                                                <span class="text-label text-xs">
                                                    Total in words USD :
                                                </span>
                                                <span class="text-sm font-medium">
                                                    {{invoiceTotalinWords}}
                                                </span>
                                            </div>
                                            <div class="ml-auto">
                                                <div class="grid grid-cols-2 py-2 px-2 items-center gap-x-3">
                                                    <div class="flex items-center gap-x-2">
                                                        <label class="text-label text-xs">
                                                            Total
                                                        </label>
                                                    </div>
                                                    <strong class="text-[#323232] text-sm text-right">
                                                        {{exportInvoice.invoiceTotal}}
                                                    </strong>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid grid-cols-6 gap-x-2 py-4 border-b border-b-grey-dc">
                                            <div class="flex flex-col gap-y-1 col-span-4">
                                                <h6 class="text-xs text-[#323232]">
                                                    Bank Account Details
                                                </h6>
                                                <h5 class="text-sm text-black font-semibold">
                                                    JJ Traders
                                                </h5>
                                                <span class="text-xs text-[#323232]">
                                                    Bank : Indian Bank | A/c No : 54874894849
                                                </span>
                                                <span class="text-xs text-[#323232]">
                                                    Branch Address : 48, Lorem Ipsum Dolor Sit Amet, Lorem
                                                </span>
                                                <span class="text-xs text-[#323232]">
                                                    Branch Code: 6023
                                                </span>
                                                <span class="text-xs text-[#323232]">
                                                    SWIFT CODE : IDIBINBBSLM
                                                </span>
                                                <span class="text-xs text-[#323232]">
                                                    AD Code : 584987
                                                </span>
                                            </div>
                                            <div class="flex flex-col gap-y-2 col-span-2">
                                                <div class="block">
                                                   
                                                </div>
                                                <p class="text-sm text-center mt-auto font-semibold">
                                                    JJ Traders
                                                </p>
                                            </div>
                                        </div>
                                        <div class="flex flex-col gap-y-2 py-3">
                                            <h5 class="text-sm text-[#323232] font-semibold">
                                                Declaration
                                            </h5>
                                            <p class="text-sm text-[#323232]">
                                                We declare that this invoice shows the actual price of the goods described and that all particulars are true and
                                                correct.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center py-3 px-4 border-t border-t-grey-dc">
                            @if (exportInvoice.statusValue !== 'APPRD') {
                                <button class="dc-button max-w-max text-white bg-[#B188FF] border border-[#722BE2] rounded-md hover:bg-[#722BE2]"
                                    (click)="navigateInvoice()">
                                    Edit
                                </button>
                                <div class="ml-auto flex items-center  gap-x-4">
                                    <button
                                        class="dc-button text-[#323232] border border-grey-dc max-w-max rounded-md hover:bg-[#747474] hover:text-white">
                                        Cancel
                                    </button>
                                    <button
                                        class="dc-button max-w-max text-[#25511B] bg-[#C3FFBE] border border-[#25511B] rounded-md hover:bg-[#722BE2] hover:text-white hover:border-primary-dc" (click)="approveAlert()">
                                        Approve
                                    </button>
                                </div>
                            }
                            @if (exportInvoice.statusValue === 'APPRD') {
                                <button
                                    class="dc-button max-w-max text-[#25511B] bg-[#C3FFBE] border border-[#25511B] rounded-md hover:bg-[#722BE2] hover:text-white hover:border-primary-dc"
                                    (click)="download()">
                                    Download
                                </button>
                            }
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>